doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/styles.css")
    title Nos services
  body
    nav
      ul
        li: a(href="./accueil") Accueil
        li: a(href="/services") Nos services
        li: a(href="./contact") Nous contacter
    h1 Voici nos services
    h3 Nous proposons des cours d'informatiques en: 
    p Génie Logiciel 
    p Administration SGBD 
    p Sécurité Informatique 
    p Réseau Informatique
